<div class="loading" *ngIf="showLoading">
    <mat-spinner></mat-spinner>        
</div>
<h1>
  <mat-icon>photo_libary</mat-icon>
  Wallpaper
</h1>
<br/>
<button mat-raised-button color="primary" (click)="addWallpaper()">添加</button>
<br/>
<br/>

<mat-card *ngFor="let wallpaper of wallpapers">
  <mat-card-header>
    <mat-card-title>{{wallpaper.wallpaperName}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="wallpaper.image + '?imageView2/1/w/300/h/150/q/90|imageslim'">
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="updateWallpaper(wallpaper)">更新</button>
    <button mat-raised-button color="warn" (click)="deleteWallpaper(wallpaper)">删除</button>
  </mat-card-actions>
</mat-card>
  
<!-- <mat-paginator #paginator [pageSize]="limit" [pageSizeOptions]="[limit]"
[length]="dataLength" (page)="changePage($event)">
</mat-paginator> -->
