@import '../../global.less';

.container {
    .img-bg-patch;
    padding-top: 100px;
    text-align: center;
    .logo {
        img {
            width: 500px;
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        .logo {
            img {
                width: 75%;
            }
        }
    }  
}

