@import '../../../global.less';
.report-container {
  min-height: 100px;
  padding-top: 0;
  transition: 0.5s background-color linear;
  
  .loading {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 0.3);
    animation: my-rotate 2s infinite linear;
  }
  .none {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
  }
  .copyright {
    text-align: center;
    padding: 50px 0;
    font-size: 16px;
  }
}
