<app-background bgInput="/assets/bg-2.jpg"></app-background>
<div class="container">
  <!--login form-->
  <div class="login-content" [hidden]="hasLoggedIn">
    <h1>登录</h1>
    <div class="login-error" [hidden]="!hasError" [@error]="hasError">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{errorMsg}}
    </div>
    <form (ngSubmit)="tryLogin()" name="login" #loginForm="ngForm">
        <div class="big-form">
            <span>
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <input placeholder="用户名" required [(ngModel)]="param.username" 
            name="username" #username="ngModel">
        </div>
        <div class="big-form">
            <span>
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            <input placeholder="密码" required type="password" [(ngModel)]="param.password"
            name="password" #password="ngModel">
        </div>
        <button type="submit" class="big-button big-button-fix white-btn" [disabled]="!loginForm.form.valid">登录</button>
    </form>
    <hr/>
    <p>还没有账号？马上</p>
    <a class="big-button" routerLink="/signup">注册</a>
  </div>
  <!--login success-->
  <div class="login-content" [hidden]="!hasLoggedIn">
    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
    <p>登录成功，{{remainSeconds}}秒钟后跳转登录前页面</p>
    <a class="big-button" [routerLink]="redirectUrl">直接跳转</a>
  </div>
</div>
