<h2 mat-dialog-title>更新比赛</h2>
<form (ngSubmit)="update()" name="updateForm" #updateForm="ngForm">
  <mat-form-field class="form-short-width">
    <input name="time" required matInput placeholder="开球时间" [(ngModel)]="data.match.startTime">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="competition" required matInput placeholder="赛事" [(ngModel)]="data.match.competition">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="round" required matInput placeholder="轮次" [(ngModel)]="data.match.round">
  </mat-form-field>
  <br/>


  <img class="score" [src]="data.match.teams[0].logo">
  <mat-form-field class="form-short-width">
    <input name="home-score" required matInput placeholder="主队分数" [(ngModel)]="data.match.teams[0].score">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="away-score" required matInput placeholder="客队分数" [(ngModel)]="data.match.teams[1].score">
  </mat-form-field>
  <img class="score" [src]="data.match.teams[1].logo">
  <br/>

  <mat-form-field class="form-short-width">
    <mat-select placeholder="主队" (selectionChange)="selectTeam(0, $event)">
      <mat-option *ngFor="let team of data.teams; let i = index" [value]="i">
        <img [src]="team.logo">{{team.teamName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="home-name" required matInput placeholder="主队队名" [(ngModel)]="data.match.teams[0].teamName">
  </mat-form-field>
  <mat-form-field class="form-short-width" id="uploadCtn1">
    <input name="home-logo" required matInput placeholder="主队logo" [(ngModel)]="data.match.teams[0].logo">
  </mat-form-field>
  <button mat-button color="primary" id="uploadBtn1">选择图片</button>
  <br/>

  <mat-form-field class="form-short-width">
      <mat-select placeholder="客队" (selectionChange)="selectTeam(1, $event)">
        <mat-option *ngFor="let team of data.teams; let i = index" [value]="i">
          <img [src]="team.logo">{{team.teamName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-short-width">
      <input name="away-name" required matInput placeholder="客队队名" [(ngModel)]="data.match.teams[1].teamName">
    </mat-form-field>
    <mat-form-field class="form-short-width" id="uploadCtn2">
      <input name="away-logo" required matInput placeholder="客队logo" [(ngModel)]="data.match.teams[1].logo">
    </mat-form-field>
    <button mat-button color="primary" id="uploadBtn2">选择图片</button>
    <br/>

  <mat-form-field class="form-short-width">
    <mat-select placeholder="选择球队配色" (selectionChange)="selectColor(false, $event)">
      <mat-option *ngFor="let color of data.colors; let i = index" [value]="i">
        <div class="color" [style.background-color]="color.colors[0]"></div><div class="color" [style.background-color]="color.colors[1]"></div>
        {{color.colorName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="color1" required matInput placeholder="颜色1"
    [(ngModel)]="data.match.colors[0]" [style.background-color]="data.match.colors[0]">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="color2" required matInput placeholder="颜色2"
    [(ngModel)]="data.match.colors[1]" [style.background-color]="data.match.colors[1]">
  </mat-form-field>
  <br/>

  <mat-form-field class="form-short-width">
    <mat-select placeholder="选择客场球队配色" (selectionChange)="selectColor(true, $event)">
      <mat-option *ngFor="let color of data.colors; let i = index" [value]="i">
        <div class="color" [style.background-color]="color.colors[0]"></div><div class="color" [style.background-color]="color.colors[1]"></div>
        {{color.colorName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="color2.1" matInput placeholder="客队颜色1"
    [(ngModel)]="data.match.colors2[0]" [style.background-color]="data.match.colors2[0]">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="color2.2" matInput placeholder="客队颜色2"
    [(ngModel)]="data.match.colors2[1]" [style.background-color]="data.match.colors2[1]">
  </mat-form-field>
  <br/>

  <mat-form-field class="form-short-width">
    <input name="stadium" required matInput placeholder="球场" [(ngModel)]="data.match.stadium">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="weather" required matInput placeholder="天气" [(ngModel)]="data.match.weather">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="referee" matInput placeholder="裁判" [(ngModel)]="data.match.referee">
  </mat-form-field>
  <mat-form-field class="form-short-width">
    <input name="sofa" matInput placeholder="SofaScore ID" [(ngModel)]="data.match.sofaScoreId">
  </mat-form-field>
  <br/>
  
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="accent" 
    [disabled]="!updateForm.form.valid">修改</button>    
    <button mat-button mat-dialog-close>取消</button>
  </mat-dialog-actions>
</form>